<! DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracks{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/media/js/tracks.js"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

    <script type="text/javascript">
      var map;
      var MarkerFile;
      var lat = 38.0307;
      var lon = -97.5146;
      var zoom = 4;

      function inicializa() {
      map = new OpenLayers.Map("basicMap", {
      controls: [
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.Attribution()],
      allOverlays: true
      });


      var layerOSM = new OpenLayers.Layer.OSM();
      map.addLayer(layerOSM);
      
      var proj = new OpenLayers.Projection("EPSG:4326");
      

      var style_green =
      {
      strokeColor: "#000000",
      strokeOpacity: 1,
      strokeWidth: 1,
      fillColor: "#00FF00",
      fillOpacity: 0.6
      };


      var Tracks = new OpenLayers.Layer.Vector("Tracks", { isBaseLayer: false });
      
      
      var format = new OpenLayers.Format.WKT({
      'internalProjection': map.baseLayer.projection,
      'externalProjection': proj
      });
      

      var tr = []
      {% for t in tracks %}
      tr.push(format.read("{{t.area.wkt}}"));
      {% endfor %}

      Tracks.addFeatures(tr);

      map.addLayers([Tracks]);
      map.addControl(new OpenLayers.Control.LayerSwitcher());

      var lonLat = new OpenLayers.LonLat(lon, lat).transform(proj, map.getProjectionObject());

      Tracks.style = style_green;

      var bounds = tr[0].geometry.getBounds();
      for (i=1;i<"{{len(tracks)}}";i++){
		   bounds.extend(tr[i].geometry.getBounds());
		   }
		   map.zoomToExtent(bounds);
		   

		   }
   </script>


  </head>

  <body onload="inicializa()">
    <div id="basicMap"></div>
    {% for t in tracks %}
    <p> {{t.name}} - {{t.area.wkt}} </p>
    {% endfor %}
  </body>
</html>
